*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 14px;
    line-height: 24px;
    font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Source Sans Pro', sans-serif;
}
a, a:hover{
    text-decoration: none;
}
.header-section{
    width: 100%;
    background: url("../images/Home2.png") center top no-repeat;
    background-size: cover;
    padding-bottom: 200px;
    position: relative;
}
.header-section .navbar{
    margin-left: 0px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    position: fixed;
    padding-bottom: 22px;
    box-shadow: 0 8px 28px 2px rgba(61, 61, 61, .12);
}
.header-section .collapse {
    margin-right: 0px;
}
.header-section .collapse .nav-item {
    margin-right: 20px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}
.header-section .collapse .nav-item .nav-link{
   font-size: 14px;
    color: #fff;
    border: 1px solid transparent;
     border-radius: 15px;
    padding: 0px 10px;
    margin-top: 10px;
}
.navbar-light .navbar-nav .active>.nav-link{
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 0px 10px;
    margin-top: 10px;
}
.header-section .collapse .nav-item .nav-link:hover, .header-section .collapse .nav-item .nav-link:focus{
    border: 1px solid #fff;
}
.header-section .navbar a img{
    margin-left: 50px;
    margin-top: 10px;
}


.banner{
    padding: 70px;
}
.banner-text {
    margin-top: 80px;
}
.banner-text h2 {
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
}
.banner-text p {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: #fff;
    margin-bottom: 40px;
}
.banner-text .btn-info {
    background: #7954b6;
    border: 1px #7954b6;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 8px 25px;
    margin-top: 5px;
}
.banner-text .btn-info:hover, .banner-text .btn-info:focus{
    color: #fff;
    background: transparent;
/*    border: 1px solid #eb8951;*/
}



.feature{
    width: 100%;
    padding: 80px 0px;
    text-align: center;
}
.feature h2{
    font-size: 40px;
    font-weight: 300;
    color: #7954b6;
}
.feature p{
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}
.feature .inner-feature{
    
}
.feature .inner-feature img{
    width: 95%;
    margin-top: 80px;
    margin-left: -60px;
}
.feature .inner-text{
    width: 100%;
    padding: 80px 0px;
}
.feature .inner-text ul li{
    list-style: none;
}
.inner-text .media img{
    width: 40px;
}
.inner-text .media h5{
    font-size: 20px;
    font-weight: 400;
    color: #7954b6;
    text-align: left;
    margin-left: 20px;
    text-transform: capitalize;
}
.inner-text .media p{
    margin-left: 20px;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}
.inner-text .more{
    margin-top: 60px;
    text-align: left;
    margin-left: 70px;
}
.inner-text .more .interest{
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}
.inner-text .more a{
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-transform: capitalize;
    color:  #df508f;
}









.about{
    width: 100%;
    background: url("../images/Rectangle%202.png") center top no-repeat;
    background-size: cover;
    padding: 80px 0px;
    
}
.about .title h2{
    font-size: 40px;
    font-weight: 300;
    color: #FFF;
}
.about .title p{
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: #fff;
    opacity: .6;
}
.about .content{
    width: 100%;
    padding: 100px 0px 0px 0px;
}
.about .content h5{
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    text-align: left;
    opacity: .9;
    text-transform: capitalize;
}
.about .content p{
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    color: #fff;
    opacity: .6;
}




.videos{
    width: 100%;
    background: url("../images/Video.png") center top no-repeat;
    background-size: cover;
    padding: 300px 0px;
} 


.videoo{
    width: 100%;
    padding: 80px 0px;
}
.videoo h3 {
    font-size: 40px;
    font-weight: 300;
    color: #7954b6;
    text-transform: capitalize;
}
.videoo p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 25px;
}



.videoo .videooo{
    width: 100%;
    padding: 40px 0px;
}
.videooo .title h5{
    font-size: 20px;
    font-weight: 500;
    color: #7954b6;
    margin-top: 40px;
}
.videooo .title p{
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}
.videooo img{
    width: 115%;
    margin-top: -175px;
}






.price-section{
    width: 100%;
    padding: 30px 0px;
    text-align: center;
}
.price-section .title{
    width: 100%;
    padding: 0px 0px;
    text-align: center;
}
.price-section .title h3{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 10px;
    color: #8e5edd;
}
.price-section .title p{
    font-size: 16px;
    opacity: .9;
}
.price-section .title img{
    width: 70px;
}
.price-section .pack{
    width: 100%;
    padding: 40px 0px;
}
.price-section .card1{
    width: 100%;
    padding: 40px 0px;
    border: 2px solid #e6e6e6;
    border-radius: 7px;
    box-shadow: 1px 4px 10px;
}
.price-section .card1 .pack{
    font-size: 21px;
    margin-left: 20px;
    margin-bottom: 45px;
    color: #8e5edd;
}
.price-section .card1 p sup{
    font-size: 30px;
    font-weight: 600;
    top: -25px;
     color: #8e5edd;
}
.price-section .card1 p span{
    font-size: 65px;
    font-weight: 500;
     color: #8e5edd;
}
.price-section .card1 p .p{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 5px;
     color: #8e5edd;
}
.price-section .card1 ul{
    margin-top: 30px;
    margin-left: 10px;
    text-align: left;
}
.price-section .card1 ul li{
    font-size: 16px;
    font-weight: 500;
    color: #8e5edd;
    list-style: none;
    margin-bottom: 20px;
    margin-left: 80px;
    
}
.price-section .card1 ul li img{
    margin-right: 20px;
}
.price-section .card1 .btn-info{
    padding: 8px 40px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    background: #8e5edd;
    border-radius: 30px;
}






.testimoni{
    width: 100%;
    padding: 30px 0px;
    text-align: center;
}
.testimoni .title{
    width: 100%;
    padding: 0px 0px;
    text-align: center;
}
.testimoni .title h3{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 10px;
    color: #8e5edd;
}
.testimoni .title p{
    font-size: 16px;
    opacity: .9;
}
.testimoni .title img{
    width: 70px;
}


.testimoni2{
    width: 100%;
    padding: 30px 0px;
    text-align: center;
}
.testimoni2 .title{
    width: 100%;
    padding: 0px 0px;
    text-align: center;
}
.testimoni2 .title h3{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 10px;
    color: #8e5edd;
}
.testimoni2 .title p{
    font-size: 16px;
    opacity: .9;
}
.testimoni2 .title img{
    width: 70px;
}




.card-img{
    width: 100%;
   padding: 40px 0px;
}
.card-img .card{
    
}
.card-img .card .card-body{
    
}
.card-img .card .card-body h5{
     color: #8e5edd;
    font-size: 20px;
    font-weight: 600;
}
.card-img .card .card-body h6{
     color: #8e5edd;
    font-weight: 600;
}
.card-img .card .card-body p{
    font-size: 14px;
    margin-top: 20px;
    opacity: .8;
}
.card-img .card .card-body .btn-primary{
    background: transparent;
    border: 1px solid #8e5edd;
    color: #8e5edd;
    padding: 4px 22px;
    border-radius: 20px;
}
.card-img .card .card-body .btn-primary:hover, .card-img .card .card-body .btn-primary:focus{
    
    background: #8e5edd;
    color: #fff;
    
}




.app{
    background: url("../images/Rectangle2.png") center top no-repeat;
    background-size: cover;
    width: 100%;
    padding: 80px 0px;
    text-align: center;
}
.app .title{
    
}
.app .title h3{
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 10px;
    color: #fff;
}
.app .title p{
    font-size: 16px;
    opacity: .9;
    color: #fff;
}

.app .title img{
    width: 70px;
}
.app .btn-info{
    padding: 6px 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    margin-left: 30px;
    margin-top: 70px;
}
.app .btn-info:hover, .app .btn-info:focus{
    background: #000;
}




.footer-section{
    width: 100%;
    padding: 40px 0px;
    background: #f2f2f6;
}
.footer-section .title{
    
}
.footer-section .title h1{
    font-size: 60px;
    font-weight: 400;
    color: #8e5edd;
}
.footer-section .title p{
    font-size: 16px;
    opacity: .8;
    margin-top: 20px;
}
.footer-section .title ul{
    
}
.footer-section .title ul li{
    font-size: 18px;
    font-weight: 600;
    list-style: none;
    color: #8e5edd;
    margin-top: 25px;
    margin-left: 150px;
}















